// importacoes
@use './configs/base';
@use './variaveis';
@use './mixins/mixins';
@use './configs/hero';

// fontes
@font-face{
    font-family: Avenir;
    src: url('../../../fontes/Avenir-Regular.woff2');
    font-weight: 400;
}

@font-face{
    font-family: Avenir;
    src: url('../../../fontes/Avenir-Bold.woff2');
    font-weight: 700;
}

// elementos
body{
    background-color: variaveis.$corDeFundo;
    font-family: Avenir, sans-serif;
}

// classes
.texto--grande{
    @include mixins.texto(18px);
}

.texto{
    @include mixins.texto;
}

.texto--pequeno{
    @include mixins.texto(12px);
}

.titulo--grande{
    @include mixins.titulo(48px);
}

.titulo{
    @include mixins.titulo(40px);
}

.titulo--pequeno{
    @include mixins.titulo(28px);
}

.link-texto{
    @include mixins.texto(18px);
    color: variaveis.$corTextoSecundario;
    text-decoration: underline;
}
