// importacoes
@use './configs/base';
@use './variaveis';
@use './mixins/mixins';
@use './configs/hero';
@use './configs/shows';
@use './configs/planos';
@use './configs/dispositivos';
@use './configs/faqs';
@use './rodape';

// elementos
body{
    background-color: variaveis.$corDeFundo;
}

// classes
.texto--grande{
    @include mixins.texto(18px);
}

.texto{
    @include mixins.texto;
}

.texto--pequeno{
    @include mixins.texto(12px);
}

.titulo--grande{
    @include mixins.titulo(48px);
}

.titulo{
    @include mixins.titulo(40px);
}

.titulo--pequeno{
    @include mixins.titulo(28px);
}

.link-texto{
    @include mixins.texto(18px);
    color: variaveis.$corTextoSecundario;
    text-decoration: underline;
}

.botoes{
    display: block;
    width: 100%;
    height: 60px;
    font-size: 16px;
    color: variaveis.$corTextoPrincipal;
    background-color: #6421ff;
    text-transform: uppercase;
    border-radius: 4px;
    // margens
    margin-top: 2vw;
    margin-bottom: 8px;
}

.imagem-texto-sessao{
    padding: 5.6vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;

    img{
        max-width: 100%;
    }

    &__texto{
        padding: 0 2vw;

        h2{
            margin-bottom: 24px;
        }
    }

    &--imagem-cheia{
        display: block;
        position: relative;

        img{
            width: 100%;
        }

        &__texto{
            position: absolute;
            top: 0;
            left: 50%;
            height: 100%;
            width: calc(50% - 5.6vw);
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
}