// importacoes
@use './configs/base';
@use './variaveis';
@use './mixins/mixins';
@use './configs/hero';
@use './configs/shows';
@use './configs/planos';
@use './configs/dispositivos';
@use './configs/faqs';
@use './rodape';
@use './cabecalho';

// elementos
body{
    background-color: variaveis.$corDeFundo;
}

// classes
.texto--grande{
    @include mixins.texto(18px);

    // responsividade
    @media (max-width:767px){
        @include mixins.texto(15px);
     } 
}

.texto{
    @include mixins.texto;

    // responsividade
    @media (max-width:767px){
        @include mixins.texto(14px);
     } 
}

.texto--pequeno{
    @include mixins.texto(12px);

    // responsividade
    @media (max-width:767px){
        @include mixins.texto(11px);
     } 
}

.titulo--grande{
    @include mixins.titulo(48px);

    // responsividade
    @media (max-width:767px){
        @include mixins.titulo(26px);
     } 
}

.titulo{
    @include mixins.titulo(40px);

     // responsividade
     @media (max-width:767px){
        @include mixins.titulo(24px);
     } 
}

.titulo--pequeno{
    @include mixins.titulo(28px);

    // responsividade
    @media (max-width:767px){
        @include mixins.titulo(22px);
     } 
}

.link-texto{
    @include mixins.texto(18px);
    color: variaveis.$corTextoSecundario;
    text-decoration: underline;
}

.botoes{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    font-size: 16px;
    color: variaveis.$corTextoPrincipal;
    background-color: variaveis.$corDeBotoesPrimario;
    text-transform: uppercase;
    border-radius: 4px;
    text-decoration: none;
    padding: 8px 14px;
    letter-spacing: 1px;
    border: 1px solid variaveis.$corDeBotoesPrimario;

    &:hover{
        background-color: lighten(variaveis.$corDeBotoesPrimario, 3%);
    }

    &--secundario{
        background-color: variaveis.$corDeBotoesSecundario;
        border-color: variaveis.$corDeBotoesSecundario;

        &:hover{
            background-color: lighten(variaveis.$corDeBotoesSecundario, 3%);
        }
    }

    &--escuro{
        background-color: rgba(variaveis.$corDeBotoesEscuro, 0.8);
        border-color: variaveis.$corTextoSecundario;

        &:hover{
            background-color: variaveis.$corTextoSecundario;
            color: variaveis.$corDeFundo;
        }
    }
}

.imagem-texto-sessao{
    padding: 5.6vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;

    img{
        max-width: 100%;
    }

    &__texto{
        padding: 0 2vw;

        h2{
            margin-bottom: 24px;
        }
    }

    &--imagem-cheia{
        display: block;
        position: relative;

        img{
            width: 100%;
        }

        &__texto{
            position: absolute;
            top: 0;
            left: 50%;
            height: 100%;
            width: calc(50% - 5.6vw);
            display: flex;
            flex-direction: column;
            justify-content: center;

            // responsividade
            @media (max-width:767px){
                position: relative;
                left: 0;
                width: 100%;
            } 
        }
    }

     // responsividade
     @media (max-width:767px){
        display: block; 
    } 
}