// resete
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Avenir, sans-serif;
}

// fontes
@font-face{
    font-family: Avenir;
    src: url('../../../fontes/Avenir-Regular.woff2');
    font-weight: 400;
}

@font-face{
    font-family: Avenir;
    src: url('../../../fontes/Avenir-Bold.woff2');
    font-weight: 700;
}