.dispositivos{
    padding: 5.6vw;

    // classes
    &__lista{
        display: grid;
        gap: 24px;
        grid-template-columns: repeat(4, 1fr);

        // classes
        &__item{
            text-align: center;

            h4{
                margin-top: 20px;
                margin-bottom: 24px;
            }
            
            li{
                list-style: none;
            }

            img{
                max-width: 100%;
            }
        }
    }    

    h2{
        text-align: center;
        margin-bottom: 24px;
        letter-spacing: 2px;
    }
}